<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <span class="col-xs-12">
        <h1>Welcome to Explorer</h1>
        <br/>
        <label>Select from existing entity names or create a new one:</label>
      </span>
      <div class="clearfix"></div>
      
      <span class="col-xs-8">
        <div class="form-group">
          <select class="form-control" ng-model="ctrl.entityName" ng-required="true">
            <option ng-repeat="entityName in ctrl.fetchedEntities track by $index">{{entityName}}</option>
          </select>
        </div>
      </span>
      <span class="col-xs-4">
        <button class="btn btn-primary" type="button" ng-click="ctrl.getResults()">Open</button>
        <button class="btn btn-secondary" type="button" ng-click="ctrl.createNewEntity()">New</button>
      </span>

      <div class="clearfix"></div>

      <hr/>

      <!-- RESULTS --> 
      <div class="col-xs-10">
        <div ng-show="ctrl.entities.length > 1">
          <div ng-repeat="entity in ctrl.entities track by $index">
            <form name="outerForm" class="tab-form-demo">
              <uib-tabset active="activeForm">
                <uib-tab index="0" heading="JSON">
                  <ng-form name="nestedForm">
                    <div class="form-group">
                      <br/>
                      <pre><json-formatter open="1" json="entity"></json-formatter></pre>
                      <br/>
                    </div>
                  </ng-form>
                </uib-tab>
                <uib-tab index="1" heading="Link">
                  <br/>
                  <pre ng-click="ctrl.join()">Some Tab Content</pre>
                  <br/>
                </uib-tab>
              </uib-tabset>
            </form>
          </div>
        </div>

        <!-- For only one result -->
        <div ng-show="ctrl.entities.length === 1">
          <form name="outerForm" class="tab-form-demo">
              <uib-tabset active="activeForm">
                <uib-tab index="0" heading="JSON">
                  <ng-form name="nestedForm">
                    <div class="form-group">
                      <br/>
                      <pre><json-formatter open="1" json="entity"></json-formatter></pre>
                      <br/>
                    </div>
                  </ng-form>
                </uib-tab>
                <uib-tab index="1" heading="Link">
                  <br/>
                  <pre>Link</pre>
                  <br/>
                </uib-tab>
              </uib-tabset>
          </form>         
        </div>
      </div>

      <div class="clearfix"></div>

    </div>
  </div>
</div>

<script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Query/Save New Entity</h3>
    </div>
    <div class="modal-body">
        <label>Entity name:</label>
        <input type="text" class="form-control" ng-model="userInputEntityName" ng-required="true">
        <br/>
        <label>Query:</label>
        <textarea class="form-control" rows="5" ng-required="true"></textarea>
        <br/>
        <div ng-show="validationErrorAlert" class="ng-hide">
          <div class="alert alert-danger" role="alert">
            <strong>Error!</strong> Query validation failed. Please correct the query to proceed or Cancel to exit.
          </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="query()">Query</button>
        <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="joinModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Join With Another Entity</h3>
    </div>
    <div class="modal-body">
        <label>Select existing entity to join with:</label>
        <select class="form-control" ng-model="joinEntityName" ng-required="true">
            <option ng-repeat="joinEntityName in fetchedJoinEntities track by $index">{{joinEntityName}}</option>
        </select>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="execJoin()">Join</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
