<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Update</h1>
      <!-- TODO: 1. Make this editable -->
      <!-- 2. Send changes to backend/update es -->
      <div contenteditable
          name="queryInput" ng-model="ctrl.query"
          strip-br="true"
          required>      
        <pre>        
          "query": {
            "filtered": {
              "query": {
                "query_string": {
                  "query": "*"
                }
              },
              "filter": {
                "term": {
                  "app":"somedummytext"
                }
              }
            }
          }
        </pre>    
      </div>
      <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.hitES()">GO!</button>
    </div>
  </div>
</div>